[Desktop Entry]
Type=Application
Version=1.0
Name=Tinny Wallet
GenericName=System Installer
Keywords=wallet;little;arrr
TryExec=littlewallet
Exec=/usr/bin/piratewallet-lite
Comment=Little wallet for Pirate Chain
Icon=/usr/share/applications/pirate.icon
Terminal=false
StartupNotify=true
Categories=Qt;System;PackageManager;


# Translations


# Translations
Name[ca]=Little Wallet
Icon[ca]=Little Wallet
GenericName[ca]=Little Wallet
Comment[ca]=Little Wallet
Name[da]=Little Wallet
Icon[da]=Little Wallet
GenericName[da]=Little Wallet
Comment[da]=Little Wallet
Name[de]=Little Wallet
Icon[de]=Little Wallet
GenericName[de]=Little Wallet
Comment[de]=Little Wallet
Name[en_GB]=Little Wallet
Icon[en_GB]=Little Wallet
GenericName[en_GB]=Little Wallet
Comment[en_GB]=Little Wallet
Name[es]=Little Wallet
Icon[es]=Little Wallet
GenericName[es]=Little Wallet
Comment[es]=Little Wallet
Name[fr]=Little Wallet
Icon[fr]=Little Wallet
GenericName[fr]=Little Wallet
Comment[fr]=Little Wallet
Name[he]=Little Wallet
Icon[he]=Little Wallet
GenericName[he]=Little Wallet
Comment[he]=Little Wallet
Name[hr]=Little Wallet
Icon[hr]=Little Wallet
GenericName[hr]=Little Wallet
Comment[hr]=Little Wallet
Name[id]=Little Wallet
Icon[id]=Little Wallet
GenericName[id]=Little Wallet
Comment[id]=Little Wallet
Name[ja]=Little Wallet
Icon[ja]=Little Wallet
GenericName[ja]=Little Wallet
Comment[ja]=Little Wallet
Name[lt]=Little Wallet
Icon[lt]=Little Wallet
GenericName[lt]=Little Wallet
Comment[lt]=Little Wallet
Name[nl]=Little Wallet
Icon[nl]=Little Wallet
GenericName[nl]=Little Wallet
Comment[nl]=Little Wallet
Name[pl]=Little Wallet
Icon[pl]=Little Wallet
GenericName[pl]=Wieprz<3<3<3
Comment[pl]=Little Wallet
Name[pt_BR]=Little Wallet
Icon[pt_BR]=Little Wallet
GenericName[pt_BR]=Little Wallet
Comment[pt_BR]=CLittle Wallet
Name[cs_CZ]=Little Wallet
Icon[cs_CZ]=cLittle Wallet
GenericName[cs_CZ]=Little Wallet
Comment[cs_CZ]=Little Wallet
Name[ru]=Little Wallet
Icon[ru]=Little Wallet
GenericName[ru]=Little Wallet
Comment[ru]=Little Wallet
Name[sk]=Little Wallet
Icon[sk]=Little Wallet
GenericName[sk]=Little Wallet
Comment[sk]=Little Wallet
Name[sv]=Little Wallet
Icon[sv]=Little Wallet
GenericName[sv]=Little Wallet
Comment[sv]=Little Wallet
Name[zh_CN]=Little Wallet
Icon[zh_CN]=Little Wallet
GenericName[zh_CN]=Little Wallet
Comment[zh_CN]=Little Wallet
Name[zh_TW]=Little Wallet
Icon[zh_TW]=Little Wallet
GenericName[zh_TW]=Little Wallet
Comment[zh_TW]=Little Wallet
Name[ast]=Little Wallet
Icon[ast]=Little Wallet
GenericName[ast]=Little Wallet
Comment[ast]=Little Wallet
Name[pt_PT]=Little Wallet
Icon[pt_PT]=Little Wallet
GenericName[pt_PT]=Little Wallet
Comment[pt_PT]=Little Wallet
Name[tr_TR]=Little Wallet
Icon[tr_TR]=Little Wallet
GenericName[tr_TR]=Little Wallet
Comment[tr_TR]=Little Wallet

