[Desktop Entry]
Type=Application
Version=1.0
Name=Power Off
GenericName=poweroff your system
Keywords=poweroff
TryExec=littlewallet
Exec=/sbin/poweroff
Comment=PowerOff option
Icon=/usr/share/applications/ppower.icon
Terminal=false
StartupNotify=true
Categories=Qt;System;PackageManager;


# Translations


# Translations
Name[ca]=PowerOff
Icon[ca]=PowerOff

