[Desktop Entry]
Comment=Launch screen locker program
Comment[ca]=Obre el programa de blocatge de la pantalla
Comment[cs]=Spustit Uzamykač obrazovky
Comment[da]=Start program for skærmlås
Comment[de]=Bildschirmsperre starten
Comment[en_GB]=Launch screen locker program
Comment[es]=Abrir el programa de bloqueo de pantalla
Comment[fi]=Käynnistä näytön lukitusohjelma
Comment[fr]=Lancer le verrouilleur d'écran
Comment[gl]=Iniciar o programa de bloqueo da pantalla
Comment[gu]=સ્ક્રીન લૉકર પ્રક્રિયાને શરુ કરો
Comment[hi]=परदा अबरोधक प्रोग्राम आरम्भ करें
Comment[hu]=Képernyőzár program indítása
Comment[it]=Lancia il programma blocca schermo
Comment[ja]=スクリーンロックのプログラムを実行する
Comment[kk]=Экранды блоктау бағдарламасын жөнелту
Comment[lt]=Paleisti ekrano užrakinimo programą
Comment[nb]=Kjør skjermlåsningsprogram
Comment[nl]=Schermvergrendelingsprogramma starten
Comment[or]=ପରଦା ଅବରୋଧକ ଆରମ୍ଭ କରନ୍ତୁ
Comment[pl]=Uruchamia program blokady ekranu
Comment[pt]=Lançar o programa de bloqueio do ecrã
Comment[pt_BR]=Iniciar o programa de bloqueio de tela
Comment[ru]=Запустить программу блокировки экрана
Comment[tr]=Ekran kilitleyici programı başlat
Comment[zh_CN]=启动屏幕锁程序
Comment[zh_TW]=啟動螢幕鎖定程式
Exec=light-locker --lock-after-screensaver=0
Icon=preferences-desktop-screensaver
Name=Screen Locker
Name[ca]=Bloquejador de pantalla
Name[cs]=Uzamykač obrazovky
Name[da]=Skærmlås
Name[de]=Bildschirmsperre
Name[en_GB]=Screen Locker
Name[es]=Bloqueador de pantalla
Name[fa]=قفل صفحه
Name[fi]=Näytön lukitusohjelma
Name[fr]=Verrouilleur d'écran
Name[gl]=Bloqueado da pantalla
Name[gu]=સ્ક્રીન લૉકર
Name[hi]=परदा अबरोधक
Name[hu]=Képernyőzár
Name[it]=Blocca schermo
Name[ja]=スクリーンのロック
Name[kk]=Экран блоктаушысы
Name[lt]=Ekrano Užrakinimas
Name[nb]=Skjermlås
Name[nl]=Schermvergrendeling
Name[or]=ପରଦା ଅବରୋଧକ
Name[pl]=Blokada ekranu
Name[pt]=Bloqueio de Ecrã
Name[pt_BR]=Bloqueio de Tela
Name[ru]=Блокировщик экрана
Name[tr]=Ekran Kilitleyici
Name[zh_CN]=屏幕锁
Name[zh_TW]=螢幕鎖定
NoDisplay=true
NotShowIn=GNOME;Unity;
Type=Application
